<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../../../partials/navigation') %>
    <div class="row" style="padding: 20px">
      <div class="col">
        <%- include('../../../partials/sidebar') %>
      </div>
      <div class="col-10">
        <h1><%= title %></h1>
        <h2>Filters</h2>
        <form action="/projects/members/<%= id %>" method="GET">
          <input type="hidden" name="page" value="1" />
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  name="idChecked" <%= query.idChecked == 'on' ? 'checked' :
                  ''%> /> ID
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="id"
                    name="id"
                    placeholder="ID"
                    value="<%= query.id && query.idChecked == 'on' ? query.id : ''%>"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  name="nameChecked" <%= query.nameChecked == 'on' ? 'checked' :
                  ''%> /> Name
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Name"
                    value="<%= query.name && query.nameChecked == 'on' ? query.name : ''%>"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  name="positionChecked" <%= query.positionChecked == 'on' ?
                  'checked' : ''%> />Positions
                </div>
              </div>
              <div class="form-group col-md-3">
                <select
                  class="form-control"
                  name="position"
                  id="position"
                >
                  <option>Choose positions...</option>
                  <% roles.forEach(role => { %>
                    <option 
                      value="<%= role.roleid %>"
                      <% if (query.position == role.roleid) { %>
                        selected
                      <% } %>
                    >
                      <%= role.rolename %>
                    </option>
                  <% }) %>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/projects/members/<%= id %>" class="btn btn-info">Reset</a>
          </div>
        </form>
        <form action="/projects/members/column/<%= id %>" method="GET">
          <div class="container">
            <h2>Options</h2>
            <div class="row">
              <div class="col-sm-2">
                <p>Columns</p>
              </div>
              <div class="col-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="idChecked" 
                  <%= options.idCheckedColumn == 'on' ? 'checked' : '' %>/> ID
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  name="nameChecked" 
                  <%= options.nameCheckedColumn == 'on' ? 'checked' : '' %>/> Name
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                  name="positionChecked" 
                  <%= options.positionCheckedColumn == 'on' ? 'checked' : '' %>/> Position
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-warning">Apply</button>
          </div>
        </form>
        <br />
        <table class="table table-striped">
          <thead>
            <% if (options.idCheckedColumn == 'on') { %>
            <th scope="col">ID</th>
            <% } %> <% if (options.nameCheckedColumn == 'on') { %>
            <th scope="col">Name</th>
            <% } %> <% if (options.positionCheckedColumn == 'on') { %>
            <th scope="col">Position</th>
            <% } %>
            <th scope="col"></th>
          </thead>
          <tbody>
            <% for (let i = 0; i < members.length; i++) { %>
              <tr>
                <% if (options.idCheckedColumn == 'on') { %>
                  <th scope="row">
                    <%= members[i].memberid %>
                  </th>
                <% } %>
                <% if (options.nameCheckedColumn == 'on') { %>
                  <td><%= members[i].firstname + ' ' + members[i].lastname %></td>
                <% } %>
                <% if (options.positionCheckedColumn == 'on') { %>
                  <td><%= helpers.displayPosition(members[i].roleid) %></td>
                <% } %>
                <td>
                  <a href="/projects/members/edit/<%= id %>/<%= members[i].firstname %>">
                    <button type="button" class="btn btn-success">
                      Edit
                    </button>
                  </a>
                  <a
                    href="/projects/members/delete/<%= id %>/<%= members[i].firstname %>"
                    style="color: white"
                    onclick="return confirm('Delete ?')"
                  >
                    <button type="button" class="btn btn-danger">
                      Delete
                    </button>
                  </a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <nav aria-label="...">
          <% if (pages > 0) { %>
            <ul class="pagination">
              <% if (current == 1) { %>
                <li class="page-item disabled">
                  <a class="page-link">First</a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=1`) %>" >First</a>
                </li>
              <% } %> 
              <% let i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
              <% if (i !== 1) { %>
                <li class="page-item disabled">
                  <a>...</a>
                </li>
              <% } %> 
              <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                <% if (i == current) { %>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${i}`) %>" name="page"
                      ><%= i %><span class="sr-only">(current)</span></a
                    >
                  </li>
                <% } else { %>
                  <li class="page-item" aria-current="page">
                    <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${i}`) %>" name="page"
                      ><%= i %><span class="sr-only">(current)</span></a
                    >
                  </li>
                <% } %> 
              <% } %> 
              <% if (i == Number(current) + 3 && i < pages) { %>
                <li class="page-item disabled">
                  <a>...</a>
                </li>
              <% } %> 
              <% if (current == pages) { %>
                <li class="page-item disabled">
                  <a class="page-link">Last</a>
                </li>
              <% } else { %>
                <li class="page-item">
                  <a class="page-link" href="<%= url.replace(`?page=${current}`, `?page=${pages}`) %>">Last</a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </nav>
        <a href="add/<%= id %>" class="btn btn-secondary">Add</a>
      </div>
    </div>
  </body>
</html>
