<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../../../partials/navigation') %>
    <div class="row" style="padding: 20px">
      <div class="col">
        <%- include('../../../partials/sidebar') %>
      </div>
      <div class="col-10">
        <div class="container">
          <h1><b><%= title %></b></h1>
          <hr />
          <div class="card">
            <div class="card-body">
              <p>
                <%= title %><br />
                From <%= lastWeek %> to <%= thisDay %>
              </p>
              <p>Sunday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Sun') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Monday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Mon') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Tuesday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Tue') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Wednesday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Wed') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Thursday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Thu') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Friday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Fri') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
              <p>Saturday</p>
              <% activities.forEach(activity => { %> 
                <% if (activity.time[0] == 'Sat') { %>
                  <ul>
                    <li>
                      <%= activity.time[4] + ', ' + activity.title + ', ' + activity.description %>
                    </li>
                  </ul>
                <% } %>
              <% }) %>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
